

#demo{ line-height: 20px; }



#examples > hr{ margin: 20px 10px; }

.snap-scrolling-example img{
	margin: 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	padding: 3px;
	background: rgba(0,0,0,0.2);
}


#demo.showcase{ min-width: 740px; }

.showcase{
	float: left;
	width: 340px;
	height: 300px;
}

.showcase .horizontal{
	height: 140px;
	width: 700px;
	max-width: 97%;
	padding: 5px 5px 0 5px;
}

.showcase .horizontal h2, .showcase .horizontal li img{ height: 119px; }

.showcase .horizontal h2{
	color: #fff;
	background-color: #eb3755;
	padding: 10px 20px;
	margin: 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	font-size: 165%;
}

.horizontal ul, .vertical-images ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.horizontal li{
	margin: 0 3px;
	float: left;
}

.vertical-images li{ margin: 3px 0; }

.horizontal li:first-child{ margin-left: 0; }

.vertical-images li:first-child{
	margin-bottom: 3px;
	margin-top: 0;
}

.horizontal li:last-child{ margin-right: 0; }

.vertical-images li:last-child{ margin-bottom: 0; }

.horizontal li img{
	width: auto;
	padding: 0;
}

.showcase #content-1{ height: 620px; }

.showcase #content-2{ height: 620px; }

.showcase #content-2 h2{ color: #333; }

.showcase #content-3{
	background-color: #412626;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJ0lEQVQIW2NkwA7+M2IR/w8UY0SXAAuCFCNLwAWRJVAEYRIYgiAJALsgBgYbCawOAAAAAElFTkSuQmCC");
	margin-right: 40px;
	width: 310px;
}

.showcase #content-3 h2{ color: #eb3755; }

.showcase #content-4{ background-color: #1C383F; }

.showcase #content-4 h2{ color: #ddd; }

.showcase #content-6.horizontal{
	padding: 10px 0 5px 0;
	background-color: #444;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGA4A8QmQAwGjDAGNgGwSgwVAFVOAgV/1mwxAAAAAElFTkSuQmCC");
}

.showcase #content-6.horizontal .mCSB_scrollTools{
	margin-left: 10px;
	margin-right: 10px;
}

.showcase #content-6.horizontal ul{
	margin-left: 10px;
	margin-right: 10px;
}

.showcase #content-6.horizontal.content h2{
	color: #222;
	background-color: #c2beb2;
}

.showcase #content-6.horizontal h2, .showcase #content-6.horizontal li img{ height: 105px; }

.showcase #content-7{ height: 620px; }

.showcase #content-8{
	width: 670px;
	height: 580px;
	padding: 0;
	background-color: #151515;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAK0lEQVQIW2NkwAL+//9vzIguDhZkZDyLIgETBCmGSyALwiXQBcES2ARBEgCUVxc3f8oLcQAAAABJRU5ErkJggg==");
	border: 5px solid rgba(0,0,0,0.5);
	margin-right: 40px;
	margin-bottom: 50px;
}

.showcase #content-8.content h2{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.showcase #content-8 p{
	width: 710px;
	float: left;
	margin: 15px 20px;
}

.showcase #content-8 hr + p{ margin-top: 30px; }

.showcase #content-8 p:nth-child(3n+1){
	width: 1460px;
	clear: both;
}

.showcase #content-9{
	height: 620px;
	background-color: #c2beb2;
	padding: 5px;
}

.showcase #content-9 .mCSB_container{ margin-right: 21px; }

.showcase #content-9 h2{
	height: 85px;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 15px;
	font-size: 180%;
	color: #333;
}

.showcase #content-9.content img{
	padding: 0;
	vertical-align: bottom;
}

#iframe-container{
	width: 90%;
	max-width: 1110px;
	background: #000;
	overflow: hidden;
}

#iframe-container iframe{ vertical-align: bottom; }

#infinite-scroll .offset{
	display: block;
	width: 100%;
	height: auto;
	color: #ffed0d;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#infinite-scroll .offset p{
	margin-bottom: 60px;
}

#infinite-scroll .offset .indicator{
	display: block;
	width: 100%;
	height: 100px;
	background: #ffed0d;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#examples.resizable{ 
	background:#444; 
	padding-bottom: 30px; 
}

#resizable{
	overflow: hidden;
	width: 640px;
	max-width: 80%;
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; /* jquery ui resizable bug: http://bugs.jqueryui.com/ticket/8932 */
}

#resizable.content h2{ color: #444; }

#resizable.content p{ width: 1000px }


#content-1.nested{ margin-bottom: 40px; }

#content-1.nested p{ width: 1000px; }

#content-1.nested .nested{
	margin: 20px;
	width: 600px;
	height: 300px;
}

.zero-height{ height: 0; }

.zero-width{ width: 0; }

.init-hidden #examples{ min-height: 420px; }

.full-page { height: 800px; }

.full-page-alt #mCSB_1_container{
	width: 97% !important; /* override plugin property */
	min-width: 480px;
}

.full-page-alt #mCSB_1_scrollbar_vertical{
	position: fixed;
	margin-right: 30px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.full-page-alt #mCSB_1_scrollbar_horizontal{
	position: fixed;
	margin-bottom: 30px;
	margin-left: 16px;
	margin-right: 16px;
}

.full-page-alt .outer{ width: 960px; }

.full-page-alt .horizontal{
	height: 275px;
	width: 100%;
	margin: 20px auto 10px auto;
}

.full-page-alt .horizontal img{ height: 200px; }

.sortable{ min-width: 800px; }

#sortable ul{
	margin-top: 20px;
	margin-bottom: 10px;
}

#sortable li{
	margin: 10px 40px;
	background: #444;
	padding: 5px 10px;
	color: #fff;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#sortable li:active, #sortable .ui-sortable-helper{ background: #eb3755; }

#examples.tabs, #examples.accordion, #examples.autocomplete{	
	padding: 5px 20px 20px 20px;
	background-color: #333;
}

#examples.tabs h3, #examples.accordion h3{
	color: #222;
	font-family: inherit;
	font-style: inherit;
}

#tabs{ margin-bottom: 20px; }

#tabs, #tabs-2, #accordion{ 
/*	width: 600px; */
	max-width:100%; 
}

#examples.tabs .ui-widget-content{ background-image: none; }

#autocomplete{
	border: none;
	background: #fff;
	min-height: 20px;
	padding: 5px 8px;
	font-size: inherit;
	font-family: inherit;
	color: #222;
	margin-top: 15px;
}

#autocomplete:focus{ outline: none; }

.ui-menu a{
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none; 
	transition: none;
}

.ui-menu .mCSB_container{ padding: 2px; }

.ui-menu .mCSB_scrollTools{ 
	right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.bootstrap #examples{ background: transparent; }

.bootstrap #myModal-2 .modal-body{
	max-height: 340px;
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
	margin-bottom: -15px;
}

.bootstrap #myTab{ max-width: 600px; }

.bootstrap #myTab .tab-pane{ padding: 15px 5px 15px 15px; }

.all-themes #examples{ padding: 15px 0 0 15px; }

.all-themes {
	width: 310px;
	height: 500px;
	margin: 0 20px 20px 0;
	float: left;
}

.all-themes  h2, .all-themes  p, .all-themes  hr{ 
	width: 240px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
}

.all-themes #content-m h2, .all-themes #content-m p, .all-themes #content-m hr, 
.all-themes #content-md h2, .all-themes #content-md p, .all-themes #content-md hr{ width: 270px; }

.all-themes .expanded-content h2, .all-themes .expanded-content p, .all-themes .expanded-content hr, 
.all-themes #content-m.expanded-content h2, .all-themes #content-m.expanded-content p, .all-themes #content-m.expanded-content hr, 
.all-themes #content-md.expanded-content h2, .all-themes #content-md.expanded-content p, .all-themes #content-md.expanded-content hr{ width: 540px; }

.max-height-example {
	height: auto;
	max-height: 400px;
}

.max-width-example{ min-width: 620px; }

.max-width-example { 
	height: auto;
	width: auto;
	max-width: 50%;
	min-width: 600px;
	display: inline-block;
	vertical-align: bottom;
}

.max-width-example  ul{
	max-height: 135px;
	overflow-y: hidden;
}

.max-width-example  img, .max-width-example  ul li > a{
	height: 130px;
	border: 3px solid #444;
}

.max-width-example  ul li > a{
	display: block;
	padding: 20px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
	background: rgba(0,0,0,0.3);
}

/*.snap-scrolling-example { 
	height: auto; 
	width: 853px;
}
*/
.snap-scrolling-example  img{ height: 160px; }

.textarea-example { width: 360px; }

.textarea-example  form{ margin: 25px 0 15px 0; }

.textarea-example  textarea, .textarea-example .textarea-clone{
	width: 300px;
	padding: 0 10px;
	line-height:25px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.textarea-example  textarea{
	height:160px; 
	resize:none; 
	overflow:hidden; 
	outline:none;
	margin: 0;
	border:none;
	background:transparent;
	box-shadow: none;
}

.textarea-example  .textarea-wrapper{
	height:182px; 
	overflow:hidden;
	background-color: #bbb;
	background-color: rgba(255,255,255,0.6);
	-moz-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.textarea-example .textarea-clone{
	position:absolute; 
	top:-9999px; 
	left:-9999px; 
	visibility:hidden; 
	min-height: 160px; 
	word-wrap: break-word;
	white-space: pre-wrap;
}

.textarea-example  .textarea-wrapper .mCSB_scrollTools{ margin: 10px 5px; }

.scrollTo-demo { height: 290px; }

.scrollTo-demo .demo-y{ height: 600px; }

.scrollTo-demo .demo-x{
	width: 660px;
	background-color: #252525;
}

.scrollTo-demo .demo-x p{
	float: left;
	width: 300px;
	margin-left: 30px;
	height: auto;
	padding: 5px 10px;
	background-color: #333;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.scrollTo-demo .demo-x hr + p{ margin-left: 0; }

.scrollTo-demo .demo-yx{ background-color: #424242; }

.scrollTo-demo .demo-yx p{ width: 1000px; }

.scrollTo{ font-size: 12px; }

.scrollTo + .scrollTo{ margin-top: 20px; }

.scrollTo ul li:first-child span{
	display: block;
	padding: 3px 15px;
}

#test-id{
	background-color: #eb3755;
	color: #fff;
}

.rtl-demo #content-1{ width: 500px; }

.rtl-demo #content-1 p{ width: 1000px; }

.transitions #examples{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
}

.transitions {
	-webkit-transition: all .6s ease-out; 
	-moz-transition: all .6s ease-out; 
	-o-transition: all .6s ease-out; 
	transition: all .6s ease-out; 
}


@media only screen and (min-width: 1229px){
	.showcase .horizontal{ width: 1060px; }
}

@media only screen and (min-width: 1629px){
	.showcase .horizontal{ width: 700px; }
}